<suite name="Skillo test suite" verbose="1">
    <test name="All Tests">
        <classes>
            <class name="TestLogin"></class>
            <methods>
                <include name="testLogin">
                    <parameter name="username" value="Test_MA"></parameter>
                    <parameter name="password" value="Test123"></parameter>
                    <parameter name="usernameProfilePage" value="Test_MA"></parameter>
                </include>
            </methods>
        </classes>
    </test>
</suite>