<suite name="All Tests" verbose="1">
    <test name="Test Login">
        <classes>
            <class name="TestLogin"></class>
            <methods>
                <include name="testLogin">
                    <parameter name="username" value="Test_MA"></parameter>
                    <parameter name="password" value="Test123"></parameter>
                    <parameter name="usernameProfilePage" value="Test_MA"></parameter>
                </include>
            </methods>
        </classes>
    </test>
    <test name="Test Registration">
        <classes>
            <class name="TestRegistration"></class>
            <methods>
                <include name="testRegistration"></include>
            </methods>
        </classes>
    </test>
    <test name="Test Creating a New Private Post">
        <classes>
            <class name="TestCreatePost"></class>
            <methods>
                <include name="testCreatePost"></include>
            </methods>
        </classes>
    </test>
</suite>